body{
   background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
   background-repeat: no-repeat,no-repeat;
}
#main{
    height:500px;
    width:1100px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#upper{
    display:flex;  
}
#lower{
    display:flex;
    justify-content: space-between;
    
}
#rate1,#rate2, #rate3{
    display: flex;
}
#textt{
    flex-wrap: wrap;
    height:220px;
    width:500px;   
}
#head1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing:-2px;
    height: 120px;
    width: 250px;
    margin-top: -21.5px;
    color: rgb(89, 38, 84);    
}
#para{
   font-family:Verdana, Geneva, Tahoma, sans-serif ;
   margin-top: -7px;
   padding-top: 10px;
   padding-bottom: 2px;
   color: rgb(116, 51, 94);
   font-size: 14.5px;  
}
#rate1, #rate2,#rate3{
    background-color:rgb(247, 230, 251);
    height:40px;
    width:440px;
    text-align: center;
    padding-top: 10px;
    padding-left: 50px;
    box-sizing: border-box;
    border-radius: 5px;   
}
#rating{
    margin-top: 10px;;
}
#review1,#review2,#review3{
    color:rgb(89, 38, 84);
    font-weight: bold;
    margin-left: 25px;   
}
#rate1{
    margin-left: 59px;
}
#rate2{
    margin:15px 0px 0px 120px;
    padding-left:40px ;
}
#rate3{
    margin:15px 0px 0px 190px;   
}
#box1,#box2,#box3{
    background-color: rgb(89, 38, 84);
    width:350px;
    font-size: 15px;
    border-radius: 7px;
    margin-top:15px;
    height: 200px;
}
#box1{
    margin-right: 5px;
}
#box2{
    margin:38px 0px 0px 10px;
}
#box3{
    margin:58px 0px 0px 15px;
}
#p1,#p2,#p3{
    height:40px;
    width:40px;
    border-radius: 50%;
}
#phoText1,#phoText2,#phoText3{
    display: flex;
    padding:25px 0px 0px 25px;
}
#name1,#name2,#name3{
     margin:-19px 0px 0px 20px;
     color: rgb(236, 225, 237);
     
}
#name1 p,#name h4,#name2 p,#name h4,#name3 p,#name h4{
    margin:-20px;
}
#name1 p,#name2 p,#name3 p{
    margin-left: 0px;
    color: rgb(174, 91, 148);
    font-weight:500;
}
#content1,#content2,#content3{
    padding:0px 30px;
  
}
#content1 p,#content2 p,#content3 p{
    line-height: 19px;
    color:rgb(236, 225, 237); ;
}
/* @media screen and (max-width:375px){
    #main{
        width:100%;
        height:auto;
        position: static;
        transform: none;
        display: flex;
        flex-direction: column;
    }
} */